* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-image {
    background-image: url("../img/Фон 1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
   padding: 30px 60px;
}

input {
    outline: none;
}

.journey-head {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.journey-head-content {
    margin: auto 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.journey-head-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.journey-head-title-link {
    text-decoration: none;
}

.journey-head-icons {
    display: flex;
    border-right: 1px solid gray;
    position: absolute;
    right: 280px;
}

.journey-head-icons-items {
    padding-right: 26px;
}

.nav-icon {
    width: 23px;
    height: 24px;
    fill: #FFFFFF;
}

.journey-head-login {
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.login-link {
    text-decoration: none;
    color: #FFFFFF;
}

.form-log-in-sign-up-wrapper {
    margin: 54px auto auto auto;
    max-width: 444px;
    background: #FFFFFF;
}
.form-log-in-sign-up-text {
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    position: relative;

}

.form-log-in-sign-up-text__log-in {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}

.form-log-in-sign-up-text__sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-border-or {
    position: relative;
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    color: #848484;
    z-index: 1;

}

.form-border-or-text {
    display: inline;
    padding: 0 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #FFFFFF;

}

.form-border-or-text::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.form-log-in-sign-up-social-media {
    display: flex;
    justify-content: space-between;

}
[class*='form-log-in-sign-up-social-media__'] {
    width: 156px;
    height: 48px;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.social-icon-facebook {
    height: 20px;
    width: 20px;
    fill: #FFFFFF;
}

.social-icon-google {
    width: 30px;
    height: 19px;
}


.form-log-in-sign-up-social-media-link {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-log-in-sign-up-social-media__facebook {
    background-color: #305DB8;
}

.form-log-in-sign-up-social-media__google {
    background-color: #DF4A32;
}

.social-media-text {
    border-left: 1px solid gray;
    padding-left: 22px;
    padding-right: 20px;
    line-height: 22px;
}

.form-log-in-sign-up-first-name, .form-log-in-sign-up-last-name, .form-log-in-sign-up-email,
.form-log-in-sign-up-password {
    width: 100%;
    height: 44px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}

.form-group {
    padding-top: 15px;
}

.form-log-in-sign-up-agree {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)  {
    position: absolute;
    opacity: 0;
    height: 20px;
    z-index: 2;
    width: 20px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;

}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #3CB878;
    border-bottom: 4px solid #3CB878;
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
}

input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

.checkbox {
    cursor: pointer;
}

.green-text-link {
    text-decoration: none;
    color: #3CB878;
}

.form-button {
    width: 100%;
    height: 46px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
}

.journey-head-title:hover, .login-link:hover {
    color: #3CB878;
    transition: .2s ease-in-out;
}

.form-log-in-sign-up-text__log-in:hover, .green-text-link:hover {
    text-decoration: underline;
}

.form-log-in-sign-up-social-media__facebook:hover {
    background-color: #022263;
    transition: .2s ease-in-out;
}

.form-log-in-sign-up-social-media__google:hover {
    background-color: #AB1F09;
    transition: .2s ease-in-out;
}

.form-button:hover {
    background-color: #01813F;
    transition: .2s ease-in-out;
}

input:focus {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
    transition: .2s ease-in-out;
}

.nav-icon:hover {
    fill: #3CB878;
    transition: .2s ease-in-out;
}

.form-log-in-sign-up-text::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: -60px;
    position: absolute;
}
